* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  height: 100%;
  @include font-smoothing;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

[tabindex="-1"]:focus {
  outline: none !important;
}

article,aside,details,figcaption,figure,footer,header,main,nav,section,canvas,summary {
  display: block;
}

[hidden],template {
  display: none !important;
}

table,th,td {
  border-collapse: separate;
  border-spacing: 0;
}

